.layout-header .nav a {
  margin-left:  0.5em;
  margin-right: 0.5em;
}
.layout-header .nav a:first {
  margin-left: 0;
}
.layout-header .nav a:last {
  margin-right: 0;
}

.layout-body {
  padding-top:    1.5em;
  padding-bottom: 1.5em;
}

.layout-footer {
  padding-top:    1.5em;
  padding-bottom: 1.5em;
  font-size: 0.85em;
  color           : #FECEA8;
  background-color: #2A363B;
}

.layout-footer ul {
  margin: 0;
}

.layout-footer ul li {
  margin: 0 0 0.5em;
}

.layout-footer a {
  border: none;
  color: #E84A5F;
}

.layout-footer a:hover {
  border: none;
  color: #FF847C;
  text-decoration: underline;
}

.layout-footer small {
  font-size: inherit;
}

.demo {
  width: 100%;
  padding: .8em 1em 0;
  margin-bottom: 1em;
  background: hsla(31, 15%, 50%, 0.1);
  border-radius: 3px;
}
.grid-cell .grid-cell .demo {
  margin-bottom: 0;
}

.demo::after {
  content: "";
  display: block;
  margin-top: 0.8em;
  height: 1px;
}
